<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid" >
            <a class="navbar-brand">Todos App</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul Class="navbar-nav">
                    <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome" Class="nav-link">Home</a></li>
                    <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" Class="nav-link">Todos</a></li>
                </ul>

                <ul Class="navbar-nav navbar-collapse justify-content-end  ">
                    <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" Class="nav-link">Login</a></li>
                    <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" Class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>