<h1>My Todo</h1>
<form action="" (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <div class="container">
        <fieldset class="form-group">
            <label class="form-control-label" for="description">Description: </label>
            <input type="text" [(ngModel)]="todo.description" class="form-control" name="description"
                required="required" id="description">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-control-label" for="description">Date ready: </label>
            <input type="date" [(ngModel)]="this.targetDate" (ngModelChange)="todo.targetDate = $event"
                class="form-control" name="targetDate" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-check-label" for="done">Is Done</label>
            <input type="checkbox" [(ngModel)]="todo.done" class="form-check" name="done" id="done">
        </fieldset>

        <button type="submit" class="btn btn-success" >Save</button>
    </div>
</form>